
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card-container {
    position: fixed;
    top: 0;
    z-index: 500;
    background-color: rgba(0,0,0,0.8);
    width: 100%;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    padding: 40px;
    overflow: hidden;
}
.card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 860px;
}
.background{
    position: relative;
    width: 100%;
    height: 475px;
    box-shadow: -15px 0 35px rgba(0,0,0,0.1);
}
.gradient {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
.gradient img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.gradient video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.map {
    cursor: pointer;
    position: absolute;
    top: 8px;
    right: 8px;
    background: white;
    width: 50px;
    border-radius: 50%;
    text-align: center;
    font-size: 1.3rem;
    text-decoration: none;
    color: #43A047;
    transition: .5s;
}
.map:hover {
    transform: scale(1.1);
}
.map i {
    line-height: 50px;
}


.info {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 475px;
    background-color: white;
    z-index: 1;
    padding: 30px 0 0 0;
    box-shadow: 15px 0 35px rgba(0,0,0,0.1);
}
.header {
    display: flex;
    flex: 10%;
    justify-content: center;
}
.header div{
    display: flex;
    justify-content: center;
}
.header div .username {
    text-align: center;
    font-family: 'JetBrains Mono';
    font-size: 1.4rem;;
    color: #333;
}
.header div .location {
    text-transform: uppercase;
    color: white;
    padding: 3px 10px;
    border-radius: 5px;
    transition: .5s;
}
.header div .small {
    font-weight: 500;
    color: #444;
    margin-top: 3px;
    text-transform: capitalize;
}


.des {
    display: flex;
    flex-direction: column;
    flex: 61%;
    overflow: auto;
}
.description {
    padding: 0 10px 9px 10px;
    /* margin-bottom: 10px; */
    line-height: 1;
    border-bottom: 2px solid #E0E0E0;
}
.descriptionText {
    padding: 1px 3px 0;
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 15px;
}
.comments {
    border-bottom: 2px solid #E0E0E0;
    display: flex;
    padding: 4px;
    width: 100%;
    flex-direction: column;
    height: 100%;
    overflow: auto;
}
.userComment {
    position: relative;
    display: flex;
    flex-direction: column;
    line-height: 1;
    padding: 5px 0;
    border-bottom: 1px solid #BDBDBD;
    margin: 0 10px;
}
.commentDate {
    font-family: 'Roboto Condensed';
    font-weight: 300;
    font-size: 10px;
}
.commentOwner {
    font-family: 'JetBrains Mono';
    /* padding: 5px; */
    font-weight: 600;
    font-size: 12px;
}
.commentText {
    padding-top: 8px;
    display: flex;
    /* color: #555; */
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 14px;
    word-break: break-all;
}
.likeSection {
    display: flex;
    flex-direction: column;
    padding: 10px 25px 0 10px;
    flex: 15%;
}
.deleteComment {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    color: #43A047;
}
.date {
    font-family: 'Roboto Condensed', sans-serif;
    display: flex;
    width: 100%;
    color: #3a3a3a;
    padding-left: 1px;
    font-size: 13px;
    font-weight: 300;
}
.likes {
    display: flex;
    flex-wrap: nowrap;
    height: 100%;
}
.thumbs {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.thumbsIcon {
    width: fit-content;
    height: fit-content;
    padding: 0 5px;
    text-align: center;
    font-size: 1.7rem;
    text-decoration: none;
    color: #43A047;;
    transition: .5s;
    margin-right: 4px;
}
.like {
    display: flex;
    align-items: flex-end;
    color: #3a3a3a;
    padding: 0;
    line-height: 1;
    cursor: pointer;
    font-family: 'JetBrains Mono';
    transition: .5s;
}
.like:hover {
    transform: scale(1.1);
}
.example {
    display: flex;
    /* position: absolute; */
    /* margin-top: 10px; */
    /* bottom: 0px; */
    /* height: 100%; */
    /* width: 100%; */
    flex: 15%;
}
.commentArea {
    display: flex;
    text-align: justify;
    padding: 2px 0 0 10px;
    font-size: 17px;
    border: 0;
    float: left;
    width: 65%;
    background: #f1f1f1;
    overflow: auto;
}
.commentArea:focus {
    padding: 0 0 0 10px;
}

#commentForm {
    width: 35%;
}
#commentForm button {
    font-weight: bold;
    text-transform: uppercase;
    float: left;
    width: 100%;
    height: 100%;
    padding: 10px;
    background: #f1f1f1;
    color: #43A047;
    font-size: 17px;
    border: 0;
    border-left: none;
    cursor: pointer;
}
#commentForm button:hover {
    background: #e0e0e0;
}

.example::after {
    content: "";
    clear: both;
    display: table;
}
.exit {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    /* background: #bcb3b3; */
    width: fit-content;
    height: fit-content;
    /* border-radius: 50%; */
    padding: 0 5px;
    text-align: center;
    font-size: 1.7rem;
    text-decoration: none;
    color: #43A047;;
    transition: .5s;
}
.exit:hover {
    transform: scale(1.2);
}

.deleteButton {
    position: absolute;
    top: 2px;
    left: 0;
}
.delete {
    /* background: #bcb3b3; */
    width: fit-content;
    height: fit-content;
    /* border-radius: 50%; */
    padding: 0 5px;
    text-align: center;
    font-size: 1.4rem;
    text-decoration: none;
    color: #43A047;
    transition: .5s;
}
.delete:hover {
    transform: scale(1.2);
}


@media only screen and (max-width: 550px) {
    .card-container {
        padding: 76px 0 0;
        height: 100%;
    }
    .card {
        flex-direction: column;
        height: 100%;
        padding-top: 21px !important;
    }
    .background {
        height: 50%;
    }
    .info {
        height: 50%;
        width: 100%;
    }
}
@media only screen and (max-width: 600px){
    .card {
        padding-top: 35px;
    }
}