.jotain {
    display: none;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100%;
    padding: 100px 0 25px;
    background: #ffffff0d;
}

.jotain div {
    width: 100%;
}

.userInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.userInfo h1 {
    font-family: "JetBrains Mono";
    font-weight: 200;
    text-align: center;
    font-size: 40px;
}

.userInfo p {
    font-family: "JetBrains Mono";
    text-align: center;
    padding: 0 22px;
    font-size: 19px;
}

.buttonHolder {
    display: flex;
    justify-content: center;
    background: #ffffff0d;
}

.addImage {
    padding: 1px 40px;
    border: 3px solid darkslategray;
    text-decoration: none;
    font-family: "JetBrains Mono";
    font-size: 20px;
    font-weight: 400;
    color: darkslategray;
    transition: all 0.45s;
    margin: 0 0 4px;
    flex: 100%;
    background: content-box;
    cursor: pointer;
}

.addImage:hover {
    color: lightslategray;
    border-color: lightslategray;
}

.addImageContainer {
    display: none;
    position: fixed;
    top: 0;
    z-index: 500;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    align-items: center;
    justify-content: center;
}

.addImageForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background: #FAFAFA;
    padding: 5px;
    border-radius: 7px;
}

.addImageForm div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 4px;
    width: 100%;
}

.addImageForm h2 {
    font-family: 'JetBrains Mono';
    font-weight: 300;
    margin-top: 10px;
    font-size: 30px;
}

.addImageInput {
    display: flex;
    width: 85%;
    transition: .5s;
    flex-direction: column;
    padding: 10px;
    margin: 20px 40px;
}

.addImageInput button {
    padding: 0.3em 3em;
    border: 0.12em solid darkslategray;
    text-decoration: none;
    font-family: 'JetBrains Mono';
    font-weight: 400;
    font-size: 22px;
    color: darkslategray;
    transition: all 0.15s;
    margin: 5px 0;
    flex: 100%;
    background: content-box;
    cursor: pointer;
}

.addImageInput button:hover {
    color: lightslategray;
    border-color: lightslategray;
}

.addImageTextarea {
    font-family: 'JetBrains Mono';
    font-weight: 300;
    padding: 10px;
    width: 100%;
    font-size: 18px;
}

.addImageInputField {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.addImageInputField + label {
    padding: 0.3em 3em;
    border: 0.12em solid darkslategray;
    text-decoration: none;
    font-family: 'JetBrains Mono';
    font-weight: 400;
    font-size: 22px;
    color: darkslategray;
    transition: all 0.15s;
    margin: 5px 0;
    flex: 100%;
    background: content-box;
    cursor: pointer;
    text-align: center;
}

.addImageInputField:focus + label,
.addImageInputField + label:hover {
    color: lightslategray;
    border-color: lightslategray;
}

.addImageInputField + label * {
    pointer-events: none;
}

.addImageExit {
    position: absolute;
    top: 0;
    right: 0;
    /* background: #bcb3b3; */
    width: fit-content;
    height: fit-content;
    /* border-radius: 50%; */
    padding: 0 5px;
    text-align: center;
    font-size: 1.7rem;
    text-decoration: none;
    transition: .5s;
    cursor: pointer;
}

.addImageExit:hover {
    transform: scale(1.1);
}
.joku {
    display: none;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
}
.type {
    display: flex;
    flex-direction: row;
}
.photos {
    transition: all 0.5s;
    font-family: 'JetBrains Mono';
    font-weight: 400;
    font-size: 28px;
    display: flex;
    align-items: flex-end;
    color: #70b757e3;
    cursor: pointer;
}
.slash {
    font-family: 'JetBrains Mono';
    font-weight: 200;
    font-size: 23px;
    display: flex;
    align-items: flex-end;
}
.videos {
    transition: all 0.5s;
    font-family: 'JetBrains Mono';
    font-weight: 200;
    font-size: 22px;
    display: flex;
    align-items: flex-end;
    cursor: pointer;
}
@media only screen and (max-width: 550px) {
    .photos {
        font-size: 6vw;
    }
    .slash {
        font-size: 4vw;
    }
    .videos {
        font-size: 4vw;
    }
    .addImage {
        font-size: 16px;
    }
}
