* {
    box-sizing: border-box;
}
.search {
    display: flex;
    background: #ffffff0d;
    padding: 100px 20% 0;
    flex-direction: column;
}
.getPics {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
}
.getPics p {
    font-family: "JetBrains Mono";
    cursor: pointer;
    text-align: center;
    margin: 0;
    padding-top: 4px;
    flex: 50%;
    font-weight: 500;
    font-size: 20px;
}
.getPics p:hover{
    background: lightgrey;
}
.latestPics {
    border-bottom: solid 2px grey;
}
.mostlikedPics {
    border-bottom: solid 1px darkgray;
}

form.searchForm input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
}

form.searchForm button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #43A047;;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

form.searchForm button:hover {
    background: #2E7D32;
}

form.searchForm::after {
    content: "";
    clear: both;
    display: table;
}