body {
    background-image: url("fog-3622519_1280.jpg");
    background-attachment: fixed;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    font-family: 'JetBrains Mono', monospace;
    overflow: auto;
    margin: 0px !important;
    padding: 0px !important;
}

* {
    text-decoration: none !important;
    box-sizing: border-box;
}


.nav {
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    left: 0;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px 0 25px;
    background: #fff;
    box-shadow: 0 19px 38px rgba(0,0,0,0.10);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.nav .links a{
    font-family: 'Noto Sans JP', sans-serif;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
    color: black;
}
.nav .links a:first-child{
    margin-right: 30px;
}

.nav .otherLinks {
    display: none;
}
.nav .otherLinks a{
    font-family: 'Noto Sans JP', sans-serif;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
    color: black;
}
.logOut, .frontPage {
    margin-right: 30px;
}

.nav h4 {
    font-family: Raleway;
    font-size: 30px;
    font-weight: 700;
}

/* landing css */
.entiia {
    font-family: "JetBrains Mono";
    font-weight: 200;
    padding-top: 90px;
    background: #ffffff0d;
    text-align: center;
    font-size: 25px;
}
.container {
    display: flex;
    flex-direction: column;
    background: #ffffff0d;
    width: 100%;
    overflow: hidden;
    min-height: 100vh;
}
.galleryArea {
    display: flex;
    margin: 0 50px 10px 50px;
    flex-wrap: wrap;
    flex-direction: row;
    border-top: solid 2px darkgray;
    border-bottom: solid 2px darkgray;
    justify-content: center;
}
.small-card {
    cursor: pointer;
    width: 360px;
    height: 400px;
    padding: 24px;
    margin: 10px;
    background: lightgray;
    position: relative;
    display: flex;
    flex: calc(100%/4);
    align-items: flex-end;
    transition: .6s ease-out;
    box-shadow: 0 10px 10px rgba(0,0,0,0.5);
    border-radius: 5px;
}

.small-card:hover {
    transform: translateY(15px);
}
.small-card:hover:before{
    opacity: 1;
}
.small-card:hover .text {
    opacity: 1;
    transform: translateY(0);
}
.small-card:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #000, transparent);
    z-index: 2;
    transition: 0.5s;
    opacity: 0;
}
.small-card img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    border-radius: 5px;
}
.small-card video {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    border-radius: 5px;
}
.small-card .text {
    position: relative;
    z-index: 3;
    color: white;
    opacity: 0;
    transform: translateY(60px);
    transition: 0.5s;
}
.text h2 {
    margin: 0;
    letter-spacing: 3px;
}
.text p {
    letter-spacing: 1px;
    margin-top: 4px;
    margin-bottom: 0;
}
.latest {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin: 0;
}
.line {
    width: 80%;
    height: 1px;
    border-radius: 10px;
    background: #607d50;
}
.latestText {
    margin-bottom: 0;
    color: #70b757e3;
}
body::-webkit-scrollbar {
    width: 0.50rem;
}

body::-webkit-scrollbar-track {
    background: lightgrey;
}

body::-webkit-scrollbar-thumb {
    background: #70b757e3;
    border-radius: 10px;
}

/* Responsive */
@media only screen and (max-width: 550px) {
    .galleryArea {
        flex-direction: column;
        align-items: center;
        margin: 5px 0;
    }
    .small-card {
        flex: none;
        margin: 10px 0;
        width: 100%;
    }
    .getPics p {
        font-size: 4vw !important;
    }
}
@media only screen and (max-width: 700px) {
    .nav .otherLinks a {
        font-size: 2vw;
    }
    .nav .links a {
        font-size: 2vw;
    }
}
@media only screen and (max-width: 600px) {
    .nav {
        flex-direction: column;
        justify-content: space-around;
        padding: 20px 20px 15px;
        height: auto;
        overflow-y: hidden;
    }
    .nav h4 {
        font-size: 6vw;
        margin-bottom: 14px;
    }
    .nav .links a {
        margin-right: 12px;
        font-size: 12px;
    }
    .nav .otherLinks a {
        margin-right: 25px;
        font-size: 12px;
    }
    .search {
        padding: 120px 20% 0 !important;
    }
    .jotain {
        padding: 120px 0 25px !important;
    }
    .userInfo h1 {
        font-size: 32px !important;
    }
}
@media only screen and (min-width: 1300px) {
    .small-card {
        flex: calc(100%/5);
    }
}
@media only screen and (max-width: 900px) and (min-width: 550px){
    .galleryArea {
        margin: 0 10px 10px 10px;
    }
    .small-card {
        flex: calc(100%/3);
    }
}