body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: black;
    background: lawngreen;
    transition: background 500ms ease-in-out, color 1000ms ease-in-out; /*Background color changes quicker*/
}

.ul:first-of-type {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar {
    height: 70px;
    width: 100%;
    background: green;
    color: lightyellow;
}

header {
    padding: 1em; /*	Relative to the font-size of the element (2em means 2 times the size of the current font)*/
    background: blue;
    margin-bottom: 1em;
    padding-bottom: 3.5em;
    text-align: center;
    clip-path: polygon(50% 0, 100% 0, 100% 65%, 50% 100%, 0 65%, 0 0); /*Change from rectangle shape firefox for playing around in browser*/
}

main {
    min-height: 1000px;
    padding: 2rem;
}

img {
    margin: 2em 0 0;
    width: 50%;
    height: 50%;
}

.navbar-nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
#modal-content,
#map-content {
    background-color: #fefefe;
    margin: 15%;
    padding: 5px 5px 5px 5px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
#close-interaction-modal,
#close-map-modal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin: 0;
}

#close-interaction-modal:hover,
#close-interaction-modal:focus,
#close-map-modal:hover,
#close-map-modal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#map {
    width: 100%;
    height: 50%;
}
